#--groups-container {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-template-rows: auto;
  gap: 0.25rem 0.5rem;
  grid-template-areas:
    "x racers racers"
    "x endurance endurance"
    "x pacers pacers"
    "x pace-cadets pace-cadets"
    "x inbetweeners inbetweeners"
    "x next-step next-step"
    "x early-birds early-birds"
    "x social social"
    "x walking walking";
    border-radius: 0.4rem;
  border: none;
  padding: 0.5rem;
  background: linear-gradient(rgba(0, 0, 255, 0.35),
      rgba(0, 0, 128, 0.35),
      rgba(0, 255, 0, 0.35),
      rgba(255, 255, 0, 0.35),
      rgba(255, 165, 0, 0.35),
      rgba(255, 0, 0, 0.35));
  cursor: default;
  box-shadow: 0 0.25rem 0.25rem #4449 inset;
}

#--groups-container span {
  font-weight: bold;
}

#--groups-container a {
  border: thin solid var(--text);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 0.2rem;
  text-decoration: none;
  margin: 0;
  transition: all 0.2s;
  min-height: em;
}

#--fastslow {
  grid-area: x;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 16rem;
}

#--c25k {
  grid-area: c25k;
  background-color: #f00;
  color: white;
}

#--early-birds {
  grid-area: early-birds;
  background-color: #fc0;
  color: black;
}

#--social {
  grid-area: social;
  background-color: #ff8c00;
  color: white;
}

#--walking-group {
  grid-area: walking;
  background-color: #d62828;
  color: white;
}
#--next-step {
  grid-area: next-step;
  background-color: #ffd700;
  color: black;
}

#--inbetweeners {
  grid-area: inbetweeners;
  background-color: #00b050;
  color: black;
}

#--pace-cadets {
  grid-area: pace-cadets;
  background-color: #00d8d8;
  color: black;
}

#--pacers {
  grid-area: pacers;
  background-color: #00a0ff;
  color: white;
}

#--racers {
  grid-area: racers;
  background-color: #3f00ff;
  color: white;
}

#--endurance {
  grid-area: endurance;
  background-color: #0050d8;
  color: white;
}

#--fastslow {
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-align: middle;
}


#--groups-container a:hover {
  filter: brightness(0.9);
  transform: scale(1.1);
  box-shadow: 0 0.25rem 0.25rem #444;
  z-index: 2;
}


