:root {
  --col1: #FECB00;
  --col1light: #FDDB6F;
  --col2: #0038A6;
  --col2light: #ABBDE1;
  --col2dark: hsla(20, 85%, 32%, 50%);
  --page: #fdfdfd;
  --text: #222222;
  --col3: #555555;
  --midgrey: #ccc;
  --textinv: #eee;
  --bgcol: var(--page);
  --link: var(--col2);
  --vlink: var(--col1);

  --headertext: var(--page);
  --sidemenu-text: var(--page);
  --figure-shadow: #4447;
  --textinv: var(--col2);
  --shadow: 0 0.5em 1em var(--figure-shadow);
  --figure-text: var(--textinv);;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcol: #222;
    --col1: hsl(0, 0%, 71%);
    --col2: #125;
    --col2light: #FECB00;
    --col1light: #249;

    --page: var(--bgcol);
    --text: #EEE;
    --textinv: #999;
    --link: var(--col2light);
    --vlink: var(--text);

    --headertext: var(--text);
    --sidemenu-text: #CCC;
    --figure-shadow: black;
    --figure-text: var(--col2light);;
  }
}
