:host {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: calc(var(--fixedspace) / 4) calc(var(--fixedspace) / 2);;
  text-decoration: none;
  background: var(--col2);
  color: var(--sidemenu-text);
  border: var(--sidemenu-text) solid thin;
  border-radius: calc(var(--fixedspace) / 4);
  transition: filter 0.1s;
}
  
/* only hover if the :host does not have the current class */
:host(:not(.current):hover) {
  background: var(--page);
  color: var(--text);
  border-color: var(--col2);
}

svg {
  margin-right: calc(var(--fixedspace) / 4);
  width: 1rem;
}
