* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    overflow-y: scroll;
}

body {
    display: grid;
    grid-template-columns: var(--gridcols);
    grid-template-rows: var(--gridrows);
    grid-template-areas: var(--gridtemplateareas);
    gap: var(--gap);

    background-color: var(--bgcol);
    color: var(--text);
    font-family: sans-serif;
    margin: 0 auto;

    padding: var(--padding);
    min-height: 100dvh;
    max-width: 60em;
}

article a {
    color: var(--link);
    background: var(--link-bg);
    border-radius: var(--buttoncurve);
    text-decoration: none;
    margin-left: -0.25em;
    margin-right: -0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

article a:visited {
    color: var(--vlink);
    background-color: var(--vlink-bg);
}

article a:hover {
    color: var(--hlink);
    background-color: var(--hlink-bg);
}

:is(h1, h2, h3, h4, h5, h6) a {
    display: none;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: var(--headergridcols);
    grid-template-rows: var(--headergridrows);
    grid-template-areas: var(--headergridtemplateareas);

    margin: 0;
    padding: var(--fixedspace);
    border-radius: var(--curve);

    background-color: var(--col2);
    color: var(--textinv);
    align-items: center;
    gap: var(--fixedspace);
}

header * {
    margin: 0;
    padding: 0;
    color: var(--headertext);
    background: var(--col2);
    text-decoration: none;
    display: block;
}

header #masthead {
    grid-area: logo;
}

header>p.banner {
    grid-area: h1;
    font-size: var(--header-font-size);
    font-weight: bold;
    justify-content: space-around;
}

header p.tagline {
    grid-area: text;
    display: var(--showhide);
    margin-top: 0;
    margin-inline-start: 0.2em;
    background: none;
    opacity: 0.4;
}

header img {
    display: var(--showhide);
    height: 100%;
}

header a:hover {
    color: var(--text);
}


footer {
    grid-area: footer;
    background-color: var(--col1light);
    border-radius: var(--curve);
    color: var(--text);
    line-height: var(--lineheight);
    padding: var(--fixedspace);
    margin: 0 0 var(--footerspace) 0;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a,
footer a:visited {
    border: var(--page) solid thin;
    color: var(--page);
    background: var(--col2);
    text-decoration: none;
}

footer a:hover {
    background: var(--page);
    color: var(--col2);
    border: var(--col2) solid thin;
}


main {
    background-color: var(--page);
    color: var(--text);
    display: contents;
    margin: var(--fixedspace);
    position: relative;
}

main h1 {
    color: var(--text);
    font-size: 1.6em;
}

main h2 {
    color: var(--text);
    font-size: 1.45em;
}

main h3 {
    color: var(--text);
    font-size: 1.3em;
}

main h4 {
    color: var(--text);
    font-size: 1.2em;
}

main h5 {
    color: var(--text);
    font-size: 1.1em;
}

main h6 {
    color: var(--text);
    font-size: 1em;
}

main>article {
    padding: var(--article-pad);
    grid-area: article;
    line-height: var(--lineheight);
}

main>article section {
    clear: both;
}


main>article>h1 {
    color: var(--text);
    line-height: 1em;
    margin: 0;
}

main>article img {
    max-width: 100%;
    border-radius: var(--curve);
    height: auto;
}

main .menu a {
    display: inline-block;
    vertical-align: top;
}

main a {
    text-decoration: underline;
}

/* Balance the text on only the last paragrah on the page
   * it's either a direct child of an article, or a child of
   * a section
   */
main :is(article, section:last-child)>p:last-child:not(p:first-child) {
    /* text-wrap: balance; */  /* Removed to fix last paragraph gaps */
}


.sidebyside {
    display: grid;
    grid-auto-flow: var(--gridwrap);
    align-items: start;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.left-pair {
    display: inline-flex;
    gap: 1em;
    align-items: flex-start;
    margin-bottom: 1em;
}

.left-pair .member {
    width: 22em;
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0;
}

.left-pair .member img {
    width: 100%;
    height: auto;
    display:block;
}

.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.four-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 1em;
}

.cards * {
    flex: 1 1 0;
    min-width: 20em;
}


figure {
    display: grid;
    align-self: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0em;
    background: var(--col2);
    color: var(--figure-text);
    border-radius: calc(var(--curve) * 2);
    box-shadow: 0 0.5em 1em var(--figure-shadow);
    margin: 0;
}

figure>figcaption {
    padding: 0.25em 0.5em;
}

figure > figcaption a,
figure > figcaption a:visited {
    color: var(--figure-text);
    background: var(--col1light);
    text-decoration: underline;
    transition: color 0.3s ease;
}

figure > figcaption a:hover,
figure > figcaption a:focus {
    color: #ffcc00;
    background: var(--col1light);
    text-decoration: underline;
    outline: none;
}

.actionButton {
    color: var(--col2) !important;
    background-color: var(--col1) !important;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    /*margin: 1em;*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.75em;
    margin-right: 0.25em; 
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.5);
    width: min-content;
    line-height: 1em;
    transform: rotateZ(5deg);
    transition: all 0.5s;
}


.actionButton:hover {
    color: var(--col2light) !important;
    background-color: var(--col2) !important;
    transform: rotateZ(0deg) scale(1.05);
    box-shadow: 0 0.4em 0.5em rgba(0, 0, 0, 0.75);
}